* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* flex: 1; */
    align-items: center;
}

.container {
    margin: auto;
    margin-top: 50px;
    display: grid;
    width: 500px;
    height: 500px;
}

.reset {
    height: min-content;
    margin-left: 5px;
}